*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Por defecto el navegador asigna 16px -> 10/16. Así 1rem es 10px
    font-size: 62.5%; 
}
body {
    box-sizing: border-box;
}